* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://th.bing.com/th/id/OIP.cqGEqnhGytDVqCz1XcP0BgHaEO?pid=Api&rs=1);
  background-size: cover;
}
/* ABout Me Section*/
.about-me {
  width: 100%;
  padding: 60px;
  margin-top: 50px;
}

.about-me h1 {
  color: #287bff;
  margin-bottom: 30px;
  border-bottom: #287bff solid 1px;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.about-me p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#bio-image {
  padding: 10px;
}

/*Portfolio Section*/
.portfolio {
  overflow: scroll;
  width: 100%;
  padding: 60px;
  margin-top: 50px;
}
.portfolio h1 {
  color: #287bff;
  margin-bottom: 30px;
  border-bottom: #287bff solid 1px;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.port-img {
  padding: 20px;
  margin: 15px;
  max-width: 350px;
  max-height: 350px;
}

.port-li {
  list-style-type: none;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
}

.bold {
  font-weight: bolder;
  font-size: 20px;
}

/*Contact Section*/

.contact h1 {
  color: #287bff;
  text-align: center;
  padding: 10px;
  border-bottom: #287bff solid 1px;
  background-color: #ffffff;
}

.contact {
  color: black;
  margin-top: 50px;
  padding: 10px;

  background-color: #ffffff;
  width: 100%;
}

.icon {
  color: #287bff;
  padding: 20px;
  margin-left: 90px;
  margin-top: 10px;
}
