* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*/ .navbar-nav > li {
  padding-left: 60px;
  padding-right: 60px;
}

.container-fluid {
  background-image: url(https://assets.awwwards.com/awards/images/2015/04/pattern.jpg);
  background-size: cover;
  width: 1598px;
  height: 888px;
}

.about-me {
  width: 1220px;
  height: 1060px;
  margin-left: 200px;
  margin-right: 100px;
}

.about-me h1 {
  color: #287bff;
  margin-bottom: 30px;
  border-bottom: #287bff solid 1px;
  margin-left: 20px;
}
#bio-image {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#p-0 {
  padding-top: 10px;
}

#p-1 {
  padding-right: 0;
  padding-left: 0;
  margin-right: 10px;
  margin-left: 10px;
}
